<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards 3D</title>
    <link rel="stylesheet" href="../Template/style/card.css">
    <link rel="stylesheet" href="../Template/style/botoes.css">
    <link rel="stylesheet" href="../Template/style/tema.css">
</head>
<body>
    <header>
        <h1>Meu Cabeçalho</h1>
    </header>

    <div class="container" id="cardContainer"></div>

    <footer>
        <p>v.1.0</p>
    </footer>

    <div id="themeToggle" class="theme-toggle">
        <div class="toggle-switch">
            <div class="toggle-knob"></div>
        </div>
    </div>

    <script src="../Template/script/script.js"></script>
</body>
</html>