*{
    margin: 0;
    padding: 0;
    border: 0;
}

.button-container {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}

button {
    padding: 5px 15px;
    margin: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

button:active {
    transform: scale(0.95);
}

.detalhes {
    background-color: rgb(72, 103, 173);
    color: white;
}

.logs {
    background-color: rgb(121, 78, 32);
    color: white;
}

.logsCampo{
    background-color: rgb(204, 204, 204);
    color: white;
    width: auto;
    height: 200px;
    font-size: 16px;
    box-sizing: border-box;
}



.novo {
    background-color: rgb(15, 145, 210);
    color: white;
    right: 10;
    left: 20px;
    padding: 5px 15px;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}