.matrix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: #0f0;
    font-family: monospace;
    font-size: 20px;
    line-height: 20px;
    opacity: 1;
}

@keyframes rain {
    0% {
        transform: translateY(-100%);
        opacity: 1;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        transform: translateY(100%);
        opacity: 0.1;
    }
}

.drop {
    position: absolute;
    top: 0;
    white-space: nowrap;
    animation: rain 7s linear infinite;
}

.bright {
    color: #a8d1ff;
    opacity: 1;
}

.drop .faded {
    color: rgba(0, 255, 0, 0.356);
}
